/modules/
/progs/
/userdata/PostgreSQL*
/userdata/profiles/
/userdata/Redis*
/userdata/MySQL*
/userdata/Bind*
/userdata/composer
/userdata/config
/userdata/iconcache
/userdata/MariaDB-10.8*
/userdata/MariaDB-10.7*
/userdata/MariaDB-10.6*
/userdata/temp
/userdata/logs
/userdata/*.ini
/userdata/*.txt
/Open Server Panel.exe
/domains/**/wp-admin/
/domains/**/wp-content/index.php
/domains/**/wp-content/languages
/domains/**/wp-content/plugins/index.php
/domains/**/wp-content/themes/index.php
/domains/**/wp-includes/
/domains/**/index.php
/domains/**/license.txt
/domains/**/readme.html
/domains/**/wp-*.php
/domains/**/xmlrpc.php